<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tokyo Xtreme Racer (2025) Wanderer Rumors</title>
  <meta property="og:title" content="Tokyo Xtreme Racer (2025) Wanderer Rumors">
  <meta property="og:locale" content="en_GB">
  <link rel="canonical" href="https://ddm999.github.io/txr25info/wanderers">
  <meta property="og:url" content="https://ddm999.github.io/txr25info/wanderers">
  <meta property="og:site_name" content="ddm999.github.io">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta property="twitter:title" content="Tokyo Xtreme Racer (2025) Wanderer Rumors">
  <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","headline":"Tokyo Xtreme Racer (2025) Wanderer Rumors","name":"ddm999.github.io","url":"https://ddm999.github.io/txr25info/wanderers"}
  </script>
  <link rel="stylesheet" href="style.css?nocache=%BUILD_TIMESTAMP">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1 id="title">TOKYO XTREME RACER (2025) INFO & DATA RESOURCE</h1>
      <h2>WANDERER RUMORS</h1>
    </header>
    <hr/>
    <section id="wanderers">
    #for $rumor in $rumors
      <p class="details">
        <span id="key">$rumors[rumor]['name']</span><br>
        <span id="val">$rumors[rumor]['rumor']</span><br>
      </p>
    #end for
    </section>
    <hr/>
    <footer>
      This page is not affiliated with Genki Co., Ltd.<br>
      It is provided by fans of the Tokyo Xtreme Racer / Shutokō Battle series.<br>
      <br>
      You may have issues if you browse with Internet Explorer, or any other outdated browser.<br>
      <br>
      Hosted on GitHub Pages - Source is available at <a href="https://github.com/ddm999/txr25info">github.com/ddm999/txr25info</a><br>
      Styling adapted from <a href="https://github.com/orderedlist/minimal">github.com/orderedlist/minimal</a><br><br>
      Raw data used to build the site is available here: <a href="https://ddm999.github.io/txr25info/raw">ddm999.github.io/txr25info/raw</a><br><br>
      If you're interested in delving deeper into Tokyo Xtreme Racer '25 / have an interest in TXR modding generally<br>
      you can hang out on the <a href="https://discord.gg/294tj3WP8J">Tokyo Xtreme Racer Modding Discord</a>.<br>
    </footer>
  </div>
</body>
</html>
